
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<th:block
	th:replace="~{./include/mainLayout :: setContent( ~{:: #wrap}  ) }">

	<body>


		<!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
		<section id="wrap">

			<section class="items-grid section custom-padding">
			
			
			
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title">
						<h2 class="wow fadeInUp" data-wow-delay=".4s">펀딩 상세보기</h2>

							</div>
						</div>
					</div>
				</div>



				<section class="item-details section">
				<div class="wow fadeInUp" data-wow-delay=".6s">
					<div class="container" >
					
					<!-- start top-area -->
						<div class="top-area">
						
							<div class="row">
								<div class="col-lg-6 col-md-12 col-12">
									<div class="product-images">
										<main id="gallery">

												<div id="carouselExampleCaptions" class="carousel slide"
													data-bs-ride="false">
													<div class="carousel-indicators">
														<button type="button"
															data-bs-target="#carouselExampleCaptions"
															data-bs-slide-to="0" class="active" aria-current="true"
															aria-label="Slide 1"></button>
														<button type="button"
															data-bs-target="#carouselExampleCaptions"
															data-bs-slide-to="1" aria-label="Slide 2"></button>
														<button type="button"
															data-bs-target="#carouselExampleCaptions"
															data-bs-slide-to="2" aria-label="Slide 3"></button>
													</div>
													<div class="carousel-inner">
														<div class="carousel-item active">
															<img src="/img/item-details/image1.jpg"
																class="d-block w-100" alt="...">

														</div>
														<div class="carousel-item">
															<img src="/img/item-details/image2.jpg"
																class="d-block w-100" alt="...">

														</div>
														<div class="carousel-item">
															<img src="/img/item-details/image3.jpg"
																class="d-block w-100" alt="...">

														</div>
													</div>
													<button class="carousel-control-prev" type="button"
														data-bs-target="#carouselExampleCaptions"
														data-bs-slide="prev">
														<span class="carousel-control-prev-icon"
															aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
													</button>
													<button class="carousel-control-next" type="button"
														data-bs-target="#carouselExampleCaptions"
														data-bs-slide="next">
														<span class="carousel-control-next-icon"
															aria-hidden="true"></span> <span class="visually-hidden">Next</span>
													</button>
												</div>


											</main>
									</div>
								</div>
								
								<div class="col-lg-6 col-md-12 col-12">
									<div class="product-info">
										<h2 class="title">펀딩명</h2>
										<p class="location">
											<i class="lni lni-map-marker"></i>
											<a>상호명</a>
										</p>
										<div class="list-info">
												<ul>
												<li><span>펀딩률</span> 00%</li>
												<li><span>D-DAY</span> 00일</li>
												<li><span>목표금액</span> 00,000원</li>
												<li><span>모금된 금액</span> 00,000원</li>
												<li><span>수량</span> 
												<button class="btn" type="button"  onclick='count("minus")' value='-' >
												-</button>
												<a  id='result'> 1 </a>
												<button class="btn" type="button"  onclick='count("plus")' value='+' >
												+</button>
												</li>
												<li>
												<input type="number" step="10">
												<button class="btn" type="button"  onclick='count("minus")' value='-' >
												-</button>
												

												<a  id='result'>
													<input type='number' name='p_amount' value="0"  style='text-align:center;'/>
												</a>
												<a id='result' >0</a>
												<button class="btn" type="button"  onclick='count("plus")' value='+' >
												+</button>
												</li>
												<li>
												<h5 class="price">가격 :</h5>
												</li>
												</ul>
												
												
												
									
											
											
										</div>
											
											
											
											<div class="button">
										<div class="contact-info">
										
											<ul>
												<li>
												<a href="" class="mail"> 
												<i class="lni lni-heart">
												</i>
												<span> 11개
												</span>
												</a>
												<a class="btn" th:href="@{/funding/fundingPurchase}">
												펀딩하기
												</a>
												</li>
												
												
											</ul>
										</div>
										
											
										</div>
										
											
											
											</div>
											
										
									</div>
										
									</div>
									</div>
									</div>
							<!-- end top-area -->
							</div>
							
							<!-- start image detail -->
							<div class="wow fadeInUp" data-wow-delay=".7s">
							<div class="container" align="center">
							<div class="top-area" align="center">
						<div class="row">
						<div class="col-lg-6 col-md-12 col-12">
							<div class="product-info">
									
										<main id="gallery">
											<div class="main-img">
												<img src="/img/item-details/image1.jpg" >
											</div>
											<div class="images">
												<img src="/img/item-details/image2.jpg" >
												<img src="/img/item-details/image3.jpg" >
												
											</div>
										</main>
									</div>
									</div>
									</div>
								
							<div class="row" align="center">
							
							<div class = "item-details-blocks" align="center">
								

									<div class="single-block description" style="width: 1200px;" align="center">
										<h3>Description</h3>
										<p>There are many variations of passages of Lorem Ipsum
											available, but the majority have suffered alteration in some
											form, by injected humour, or randomised words which don't
											look even slightly believable.</p>
										<ul>
											<li>Model: Apple MacBook Pro 13.3-Inch MYDA2</li>
											<li>Apple M1 chip with 8-core CPU and 8-core GPU</li>
											<li>8GB RAM</li>
											<li>256GB SSD</li>
											<li>13.3-inch 2560x1600 LED-backlit Retina Display</li>
										</ul>
										<p>The generated Lorem Ipsum is therefore always free from
											repetition, injected humour, or non-characteristic words etc.</p>
									</div>

								
									</div>
</div>

						
								</div>
								</div>
							</div>
					
					
				</section>








				<a href="#" class="scroll-top btn-hover"> <i
					class="lni lni-chevron-up"></i>
				</a>

				
				<script src="/js/bootstrap.min.js"></script>
				<script src="/js/wow.min.js"></script>
				<script src="/js/tiny-slider.js"></script>
				<script src="/js/glightbox.min.js"></script>
				<script src="/js/main.js"></script>
				<script type="text/javascript">
        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                //reset opacity
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                //adding class 
                //current.classList.add("fade-in");
                //opacity
                e.target.style.opacity = opacity;
            });
        });
    </script>
    
  <!-- 수량 증가, 감소 -->
    <script type="text/javascript"> 
    
    function count(type)  {
   
    	  // 결과를 표시할 element 
    	  const resultElement = document.getElementById('result');
    	  
    	  // 현재 화면에 표시된 값
    	  let number = resultElement.innerText;
    	  
    	  // 더하기/빼기
    	  if(number >= 1) {
    		  if(type === 'plus') {
    			  number = parseInt(number) + 1;
        	  }else if (number >= 2, type === 'minus')  {
    	    	    number = parseInt(number) - 1;
        		 
        	  } else 
        			  alert("더이상 줄일 수 없습니다. ");
			  /* number = 1; */
    		  }
    			 
    	  /* }
    	  if(number >= 1 , type === 'plus') {
    		  number = parseInt(number) + 1;
    	  }else if (number >= 1 , type === 'minus')  {
	    	    number = parseInt(number) - 1;
    		 
    	  }else if (number < 1 ){
    	  alert("d")
		  number = 0;
    	  } */
    		 /*  else if(number >= 0){
    		   if(type === 'plus') {
    	    	    number = parseInt(number) + 1;
    	    	  }else if (type === 'minus')  {
    	    	    number = parseInt(number) - 1;
    	    	  }
    		  }
    	   */
    	  
    	    	  
    	    		  
    	    	  
    		  
    	  
    		  
/*     	  if(type === 'plus') {
    	    number = parseInt(number) + 1;
    	  }else if(type === 'minus')  {
    	    number = parseInt(number) - 1;
    	  } */
    	  
    	  // 결과 출력
    	  resultElement.innerText = number;
    	}
    </script>
			</section>
		</section>
	</body>
</th:block>
</html>