<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<th:block th:replace="~{./include/mainLayout :: setContent( ~{:: #wrap}  ) }">
		<section id="wrap">
			<th:block th:each="dto : ${fundingList}">
			<section class="items-grid section">
				<section class="item-details section">
				<div class="wow fadeInUp" data-wow-delay=".6s">
					<div class="container">
						<div class="top-area">
							<div class="row">
								<div class="col-lg-6 col-md-12 col-12">
									<div class="product-images">
										<main id="gallery">
											<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
												<div class="carousel-indicators">
													<button type="button"
														data-bs-target="#carouselExampleCaptions"
														data-bs-slide-to="0" class="active" aria-current="true"
														aria-label="Slide 1"></button>
													<button type="button"
														data-bs-target="#carouselExampleCaptions"
														data-bs-slide-to="1" aria-label="Slide 2"></button>
													<button type="button"
														data-bs-target="#carouselExampleCaptions"
														data-bs-slide-to="2" aria-label="Slide 3"></button>
												</div>
												<div class="carousel-inner">
													<th:block th:each="file, i : ${dto.files}">
														<th:block th:if="${file.i_type == 1}">
															<div class="carousel-item" th:classappend="${i.first} ? 'active' : ''" >
																	<img th:src="'/upload/main_' + ${file.uuid} + '_' + ${file.filename}" alt="#">
															</div>
														</th:block>
													</th:block>
												</div>
												<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
													<span class="carousel-control-prev-icon" aria-hidden="true"></span> 
													<span class="visually-hidden">Previous</span>
												</button>
												<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
													<span class="carousel-control-next-icon" aria-hidden="true"></span> 
													<span class="visually-hidden">Next</span>
												</button>
											</div>
										</main>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-12">
									<div class="product-info">
										<h2 class="title">[[${dto.f_title}]]</h2>
										<p class="location">
											<i class="lni lni-map-marker"></i>
											<a>[[${dto.f_bname}]]</a>
										</p>
										<div class="list-info">
											<ul>
												<li><span>펀딩률</span><span style="text-align:right">[[${dto.f_rate}]]</span>%</li>
												<li><span>D-DAY</span><span style="text-align:right">[[${dto.f_enddate}]]</span></li> <!-- Dto에서 처리 -->
												<li><span>목표금액</span><span style="text-align:right">[[${dto.f_target}]]</span>원</li>
												<li><span>모금된 금액</span><span style="text-align:right">[[${dto.f_totalmoney}]]</span>원</li>
												<li><span>리워드 금액</span><span id="price" th:text="${dto.f_price}" style="text-align:right"></span>원</li>
												<li><span>수량</span>
													<span style="text-align:right">
														<button class="btn" type="button" onclick='count("minus")' value='-' >-</button>
														<a data-value="" id="amount">1</a>
														<button class="btn" type="button" onclick='count("plus")' value='+' >+</button>
													</span> 
												</li>
												<li>
													<h5 class="price" >가격 : <span id="total" th:text="${dto.f_price}" style="text-align:right"></span>원</h5>
												</li>
											</ul>
										</div>
										<div class="button">
											<div class="contact-info">
												<ul>
													<li>
														<a class="mail"> 
															<i class="lni lni-heart" id="like_check"></i>
															
															<span>[[${dto.l_count}]]</span>
														</a>
														<a class="btn" th:href="@{/funding/fundingPurchase}">펀딩하기</a>
														<!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
  															<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
														</svg> -->
														
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wow fadeInUp" data-wow-delay=".7s">
					<div class="container" align="center">
						<div class="top-area" align="center">
							<div class="row">
								<div class="col-lg-6 col-md-12 col-12">
									<div class="product-info">
										<main id="gallery">
											<div class="main-img" th:each="file : ${dto.files}">
											<th:block th:if="${file.i_type == 2}">
												<img th:src="'/upload/content_' + ${file.uuid} + '_' + ${file.filename}" alt="#" >
											</div>
										</main>
									</div>
								</div>
							</div>
							<div class="row" align="center">
								<div class = "item-details-blocks" align="center">
									<div class="single-block description" style="width: 1200px;" align="center">
										[[${dto.f_content}]]
									</div>
								</div>			
							</div>
						</div>
					</div>
				</div>
				</section>
				<a href="#" class="scroll-top btn-hover"> 
					<i class="lni lni-chevron-up"></i>
				</a>
			</section>
		</th:block>
		</section>
</th:block>

<script type="text/javascript">

  const current = document.getElementById("current");
  const opacity = 0.6;
  const imgs = document.querySelectorAll(".img");
  imgs.forEach(img => {
      img.addEventListener("click", (e) => {
          //reset opacity
          imgs.forEach(img => {
              img.style.opacity = 1;
          });
          current.src = e.target.src;
          //adding class 
          //current.classList.add("fade-in");
          //opacity
          e.target.style.opacity = opacity;
      });
  });
  
  // 수량 증가, 감소
  function count(type)  {
	   
	  // 결과를 표시할 element 
	  const amountElement = document.getElementById('amount');
	  const priceElement = document.getElementById('price');
	  const totalElement = document.getElementById('total');
	  
	  // 현재 화면에 표시된 값
	  let amount = amountElement.innerText;
	  let price = priceElement.innerText;
	  let total = totalElement.innerText;
	  
	  // 더하기/빼기
	  if(amount >= 1) {
		  if(type == 'plus') {
			  amount = parseInt(amount) + 1;
			  total = parseInt(price) * parseInt(amount);
		  }else if(amount >= 2 && type == 'minus')  {
			  amount = parseInt(amount) - 1;
			  total = parseInt(price) * parseInt(amount);
    	  }else if(amount == 1) {
    		  alert("더이상 줄일 수 없습니다. ");
    	  }
	  }
	  
	  amountElement.innerText = amount;
	  totalElement.innerText = total;
	  amountElement.getAttribute('data-value') = amount;
	}
  
  
  //https://myit.tistory.com/26
//좋아요
  $(document).ready(function () {
      let likeVal = document.getElementById('like_check').value
      const boardId = $("#f_num").val();
      const memberId = $("#m_num").val();
      console.log(memberId);
      console.log(likeVal);
      const likeImg = document.getElementById("likeImg")

      if (likeVal > 0) {
          likeImg.src = "img/heart-fill.svg";
      } else {
          likeImg.src = "img/heart.svg";
      }
      // 좋아요 버튼을 클릭 시 실행되는 코드
      $("#likeImg").on("click", function () {
          $.ajax({
              url: '/funding/like',
              type: 'POST',
              data: {'f_num': f_num, 'm_num': m_num},
              success: function (data) {
                  if (data == 1) {
                      $("#likeImg").attr("src", "img/heart-fill.svg");
                      location.href="/board/"+boardId;

                  } else {
                      $("#likeImg").attr("src", "img/heart.svg");
                      location.href="/board/"+boardId;
                  }
              }, error: function () {
                  $("#likeImg").attr("src", "/assets/img/like_click.png");
                  console.log('엥')
              }

          });

      });
  });
  
	
	
	

</script>

</html>