<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
   <th:block th:replace="~{./include/mainLayout :: setContent( ~{:: #wrap}  ) }">
      <section id="wrap">
         <section class="items-grid section custom-padding">
            <div class="container">
               <div class="col-12">
                  <div class="section-title">
                     <h2 class="wow fadeInUp" data-wow-delay=".4s">펀딩완료</h2>
                  </div>
               </div>
               <section class="item-details section">
                  <div class="container">
                     <div class="top-area">
                        <div class="row">
                           <div class="text-sm pb-30">
                              <div class="wow fadeInUp" data-wow-delay=".7s">
                                 <div class="row">
                                    <div class="col-12">
                                       <div class="card">
                                          <div class="card-header pb-0">
                                             <h5 class="mb-5" style="text-align:center;">펀딩 내역</h5>
                                          </div>
                                          <div class="card-body px-0 pb-0">
                                             <!-- test -->
                                             <div class="table-responsive">
                                                <table class="table align-middle" id="funding-list">
                                                   <thead class="thead-light">
                                                      <tr>
                                                         <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">주문번호</th>
                                                         <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">리워드명</th>
                                                         <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">수량</th>
                                                         <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">합계</th>
                                                         <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">결제수단</th>
                                                      </tr>
                                                   </thead>
                                                   <tr>
                                                      <td class="text-sm" style="text-align:center;">[[${info.partner_order_id}]]</td>
                                                      <td class="text-sm" style="text-align:center;">[[${info.item_name}]]</td>
                                                      <td class="text-sm" style="text-align:center;">[[${info.quantity}]]</td>
                                                      <td class="text-sm" style="text-align:center;">[[${#numbers.formatInteger(info.amount.total, 3, 'COMMA')}]]</td>
                                                      <td class="text-sm" style="text-align:center;">[[${info.payment_method_type}]]</td>
                                                   </tr>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay=".7s">
                           <div class="col-12" align="center">
                              <a type="submit" class="btn btn-success" th:href="@{/index}">확인</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </section>
      </section>
   </th:block>
</html>