<!--test  -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<th:block th:replace="~{/include/mainLayout :: setContent( ~{:: #wrap}  ) }">

    <section id="wrap">

       <th:block th:each="dto : ${fundingList}">
             <section class="items-grid section custom-padding" style="padding-bottom: 0px;">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title">
								<h2 class="wow fadeInUp" data-wow-delay=".4s">[[${dto.f_title}]]</h2>
								<p class="wow fadeInUp" data-wow-delay=".6s"> <i class="lni lni-map-marker"></i> [[${dto.f_bname}]]</p>
							</div>
						</div>
					</div>
				</div>
			  </section>
          <section class="items-grid section" style="padding-top: 10px;">
          
            <section class="item-details section" style="padding-top: 10px;">
            <form id="purchaseForm" name="purchaseForm" action="purchaseForm" method="post">
               <input type="hidden" name="p_amount" value="1" id="p_amount">
               <input type="hidden" name="p_total" th:value="${dto.f_price}" id="p_total">
               <input type="hidden" name="f_num" th:value="${dto.f_num}" id="f_num">
               <input th:if="${session.member} != null and ${session.member} != ''" type="hidden" name="m_num" th:value="${session.member.m_num}" id="m_num">
            </form>
            <div class="wow fadeInUp" data-wow-delay=".6s">
               <div class="container">
                  <div class="top-area">
                     <div class="row">
                        <div class="col-md-8 col-12">
                           <div class="product-images" style="height: 480px; width: 750px;">
                              <main id="gallery">
                                 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                                    <div class="carousel-indicators">
                                       <button type="button"
                                          data-bs-target="#carouselExampleCaptions"
                                          data-bs-slide-to="0" class="active" aria-current="true"
                                          aria-label="Slide 1"></button>
                                       <button type="button"
                                          data-bs-target="#carouselExampleCaptions"
                                          data-bs-slide-to="1" aria-label="Slide 2"></button>
                                       <button type="button"
                                          data-bs-target="#carouselExampleCaptions"
                                          data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                       <th:block th:each="file, i : ${dto.files}">
                                          <th:block th:if="${file.i_type == 1}">
                                             <div class="carousel-item" th:classappend="${i.first} ? 'active' : ''" >
                                                <img th:src="'/upload/main_' + ${file.uuid} + '_' + ${file.filename}" alt="#" style="height:500px; width:100%;">                                             </div>
                                          </th:block>
                                       </th:block>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                       <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                                       <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                       <span class="carousel-control-next-icon" aria-hidden="true"></span> 
                                       <span class="visually-hidden">Next</span>
                                    </button>
                                 </div>
                              </main>
                           </div>
                        </div>
                        <div class="col-md-4 col-12" style="padding: 20px; padding-left: 30px; width: 400px;">
                           <div class="list-info">
                           <hr />
                           <a>모금된 금액</a>
                           <p class="money"><strong style="font-size:30px; color:#5A9367" >[[${dto.f_totalmoney}]]</strong> 원 달성</p>
                           <a>펀딩률</a>
                           <p style="font-size:30px; color:#5A9367"><strong >[[${dto.f_rate}]]</strong>%</p>
                           <a>마감일자</a>
                           <p><strong style="font-size:30px; color:#5A9367">[[${dto.f_enddate}]]</strong></p>
                           <a>리워드 금액</a>
                           <p><strong style="font-size:30px; color:#5A9367" id="price" th:text="${dto.f_price}"></strong>원</p>
                          <hr />
                           <a>펀딩할 금액</a>
                           <p ><strong class="price" style="font-size:35px; color:#55967e" id="total" th:text="${dto.f_price}" ></strong> 원</p>
                           <p>수량
                              <span style="text-align:right">
                             	 <button class="btn" type="button" onclick='count1("minus")' value='-' >-</button>
                                 <a data-value="" id="amount">1</a>
                                 <button class="btn" type="button" onclick='count1("plus")' value='+' >+</button>
                              </span> 
                       	   </p>
                           <form id="addFundingLike" name="addFundingLike" action="addFundingLike" method="post">
                              <div class="button">
                                 <div class="contact-info">
                                    <ul>
                                       <li>
	                                        <button class="btn heart" type="button">
	                                           <i class="lni lni-heart" id="heart"></i>
	                                           <span th:if="${dto.l_count != null and dto.l_count != ''}">[[${dto.l_count}]]</span>
	                                           <span th:unless="${dto.l_count != null and dto.l_count != ''}">0</span>
	                                        </button>
	                                        <a th:if="${dto.f_status == 3}" class="btn" onClick="handleForm()" >펀딩하기</a>
	                                        <a th:unless="${dto.f_status == 3}" class="btn disabled" onClick="handleForm()">펀딩하기</a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

			
					<div class="wow fadeInUp" data-wow-delay=".7s" id="item">
               <div class="container" align="center">
                  <div class="top-area" align="center">

                     <div class="row">
                         <div class="product-info" style="text-align: center">
                            <main id="gallery">
                               <div class="main-img" th:each="file : ${dto.files}">
                               <th:block th:if="${file.i_type == 2}">
                                  <img th:src="@{'/upload/content_' + ${file.uuid} + '_' + ${file.filename}}" alt="#" >
                               </div>
                            </main>
                         </div>
                     </div>

                     <div class="row" align="center" id="item">
                        <div class = "item-details-blocks" align="center">
                           <div class="single-block description" style="width: 1200px;" align="center">
                              [[${dto.f_content}]]

                           </div>
                        </div>         
                     </div>
                  </div>
               </div>
            </div>
            
            </section>
            <a href="#" class="scroll-top btn-hover"> 
               <i class="lni lni-chevron-up"></i>
            </a>
         </section>
      </th:block>
      </section>
</th:block>

<script th:inline="javascript">

   //검색버튼
   function handleForm() {
      //alert("alert");
      //폼을 서브밋
      event.preventDefault(); //a의 이동이벤트를 막는다.   
      var session = [[${session.member}]];
      //console.log("세션"+ session);
      if(session == null){
         alert("로그인 후 이용해주세요");
         
      } else{
         document.purchaseForm.submit();
      }
      
   }

  const current = document.getElementById("current");
  const opacity = 0.6;
  const imgs = document.querySelectorAll(".img");
  imgs.forEach(img => {
      img.addEventListener("click", (e) => {
          //reset opacity
          imgs.forEach(img => {
              img.style.opacity = 1;
          });
          current.src = e.target.src;
          //adding class 
          //current.classList.add("fade-in");
          //opacity
          e.target.style.opacity = opacity;
      });
  });
  
  // 수량 증가, 감소
  function count1(type)  {
     // 결과를 표시할 element 
     const amountElement = document.getElementById('amount');
     const priceElement = document.getElementById('price');
     const totalElement = document.getElementById('total');
     
     // 현재 화면에 표시된 값
     let amount = amountElement.innerText;
     let price = priceElement.innerText;
     let total = totalElement.innerText;
     
     // 더하기/빼기
     if(amount >= 1) {
        if(type == 'plus') {
           amount = parseInt(amount) + 1;
           total = parseInt(price) * parseInt(amount);
        }else if(amount >= 2 && type == 'minus')  {
           amount = parseInt(amount) - 1;
           total = parseInt(price) * parseInt(amount);
         }else if(amount == 1) {
            alert("더이상 줄일 수 없습니다. ");
         }
     }
     
     amountElement.innerText = amount;
     totalElement.innerText = total;
     amountElement.setAttribute('data-value', amount);
     document.getElementById('p_amount').value = amount;
     document.getElementById('p_total').value = total;
   }

  // 찜하기
  $(document).ready(function () {

      var heartval = [[${heart}]];
      var heartByClass = $(".heart");
      var fNumById = $("#f_num");
      var mNumById = $("#m_num");
      
      var sendData = {'f_num' : fNumById.val(), 'm_num' : mNumById.val()};
      
      $.ajax({
          url :'/like/checkFundingLike',
          type :'POST',
          data : sendData,
          success : function(data){
             if(data) {
                $('#heart').prop("class","lni lni-heart-filled");
             }
          }
       });
      
      $(".heart").on("click", function () {

    	  var session = [[${session.member}]];
    	  event.preventDefault();
    	  
    	  if(session == null){
  			alert("로그인 후 이용해주세요");
  			
  		  } else {
  			 var sendData = {'f_num' : fNumById.val(), 'm_num' : mNumById.val()};
  		      
  		      $.ajax({
  		          url :'/like/checkFundingLike',
  		          type :'POST',
  		          data : sendData,
  		          success : function(data){
  		        	  if(data) {
  		        		  heartval = heartval - 1;
  		        		  $(".heart").prop('name', heartval);
  		        		  $(".heart").find('span').html(heartval);
  		        		  $('#heart').prop("class","lni lni-heart");
  		    			  var sendData = {'f_num' : fNumById.val(), 'm_num' : mNumById.val()};
  		                  
  		                  $.ajax({
  		                      url :'/like/deleteFundingLike',
  		                      type :'POST',
  		                      data : sendData
  		                  });
  		              }
  		              else{
  		            	  heartval = heartval + 1;
  		        		  $(".heart").prop('name', heartval);
  		        		  $('#heart').prop("class","lni lni-heart-filled");
  		    	    	  $(".heart").find('span').html(heartval);
  		        		  
  		    	    	  var sendData = {'f_num' : fNumById.val(), 'm_num' : mNumById.val(), 'heart' : heartByClass.prop('name')};
  		                  
  		                  $.ajax({
  		                      url :'/like/fundingLike',
  		                      type :'POST',
  		                      data : sendData
  		                  });
  		              }
  		          }
  		      });
  		  }
  	   })
	})
	
	// 숫자 3자리 단위로 , 찍기
	function numberWithCommas() {

	  $("#money").val(x.replace(/\B(?=(\d{3})+(?!\d))/g, ",")); // 정규식을 이용해서 3자리 마다 , 추가 
	}
  

	
	    $("#inputPhoneNum").on("blur", function(phoneNum){
        var confirmMsg=document.getElementById('confirmMsg');
        var check = /^(?=.*[0-9]).{11}$/; 
        if(!check.test($("#inputPhoneNum").val())){      
            confirmMsg.style.color="red";
            confirmMsg.innerHTML="올바른 핸드폰 번호를 입력하세요";       
        }
	    
	   });
  
  	



</script>

</html>