
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<th:block
	th:replace="~{./include/mainLayout :: setContent( ~{:: #wrap}  ) }">

	<body>


		<!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
		<section id="wrap">

			<section class="items-grid section custom-padding">
			
			
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title">
						<h2 class="wow fadeInUp" data-wow-delay=".4s">펀딩 상세보기</h2>

							</div>
						</div>
					</div>
				</div>



				<section class="item-details section">
				<div class="wow fadeInUp" data-wow-delay=".6s">
					<div class="container" >
					
					<!-- start top-area -->
						<div class="top-area">
							<div class="row">
								<div class="col-lg-6 col-md-12 col-12">
									<div class="product-images">
										<main id="gallery">
											<div class="main-img">
												<img src="/img/item-details/image1.jpg" id="current" alt="#">
											</div>
											<div class="images">
												<img src="/img/item-details/image1.jpg" class="img" alt="#">
												<img src="/img/item-details/image2.jpg" class="img" alt="#">
												<img src="/img/item-details/image3.jpg" class="img" alt="#">
												
											</div>
										</main>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-12">
									<div class="product-info">
										<h2 class="title">펀딩명</h2>
										<p class="location">
											<i class="lni lni-map-marker"></i>
											<a>상호명</a>
										</p>
										<div class="list-info">
												<ul>
												<li><span>펀딩률</span> 00%</li>
												<li><span>D-DAY</span> 00일</li>
												<li><span>목표금액</span> 00,000원</li>
												<li><span>모금된 금액</span> 00,000원</li>
											</ul>
											
											
										</div>
											<div class="d-grid gap-2 d-md-block">
												<a>수량 :
													<button class="btn" type="button"
														style="width: 36.5px; height: 40px;">-</button>
												</a> <input type="text">
												<button class="btn btn-primary" type="button">+</button>
											</div>
											<h5 class="price">가격 :</h5>
										<div class="button">
										<div class="contact-info">
										
											<ul>
												<li>
												<a href="" class="mail"> 
												<i class="lni lni-heart">
												</i>
												<span> 11개
												</span>
												</a>
												<a class="btn" th:href="@{/funding/fundingPurchase}">
												펀딩하기
												</a>
												</li>
												
												
											</ul>
										</div>
										
											
										</div>
									</div>
										
									</div>
									</div>
									</div>
							<!-- end top-area -->
							</div>
							
							<!-- start image detail -->
							<div class="container" align="center">
							<div class="top-area" align="center">
						<div class="row">
						<div class="col-lg-6 col-md-12 col-12">
							<div class="product-info">
									
										<main id="gallery">
											<div class="main-img">
												<img src="/img/item-details/image1.jpg" id="current" alt="#">
											</div>
											<div class="images">
												<img src="/img/item-details/image1.jpg" class="img" alt="#">
												<img src="/img/item-details/image2.jpg" class="img" alt="#">
												
											</div>
										</main>
									</div>
									</div>
									</div>
								
							<div class="row" align="center">
							
							<div class = "item-details-blocks" align="center">
								

									<div class="single-block description" style="width: 1200px;" align="center">
										<h3>Description</h3>
										<p>There are many variations of passages of Lorem Ipsum
											available, but the majority have suffered alteration in some
											form, by injected humour, or randomised words which don't
											look even slightly believable.</p>
										<ul>
											<li>Model: Apple MacBook Pro 13.3-Inch MYDA2</li>
											<li>Apple M1 chip with 8-core CPU and 8-core GPU</li>
											<li>8GB RAM</li>
											<li>256GB SSD</li>
											<li>13.3-inch 2560x1600 LED-backlit Retina Display</li>
										</ul>
										<p>The generated Lorem Ipsum is therefore always free from
											repetition, injected humour, or non-characteristic words etc.</p>
									</div>

								
									</div>
</div>

						
								</div>
								</div>
							</div>
							</div>
							</div>
							</div>
					</div>
					
				</section>








				<a href="#" class="scroll-top btn-hover"> <i
					class="lni lni-chevron-up"></i>
				</a>

				
				<script src="/js/bootstrap.min.js"></script>
				<script src="/js/wow.min.js"></script>
				<script src="/js/tiny-slider.js"></script>
				<script src="/js/glightbox.min.js"></script>
				<script src="/js/main.js"></script>
				<script type="text/javascript">
        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                //reset opacity
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                //adding class 
                //current.classList.add("fade-in");
                //opacity
                e.target.style.opacity = opacity;
            });
        });
    </script>
			</section>
		</section>
	</body>
</th:block>
</html>