<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<th:block th:replace="~{./include/mainLayout :: setContent( ~{:: #wrap}  ) }">
   <section id="wrap">
      <section class="items-grid section custom-padding">
         <div class="container">
            <div class="col-12">
               <div class="section-title">
                  <h2 class="wow fadeInUp" data-wow-delay=".4s">결제하기</h2>
                  <p class="wow fadeInUp" data-wow-delay=".6s">배송지를 입력해주시기바랍니다.</p>
               </div>
            </div>
            <section class="item-details section">
               <div class="container" >
                  <div class="top-area">
                     <div class="row">
                        <div class="text-sm pb-30">
                           <div class="wow fadeInUp" data-wow-delay=".7s">
                              <div class="row">
                                 <div class="col-12">
                                    <div class="card">
                                       <div class="card-header pb-0">
                                          <h5 class="mb-5">펀딩 내역</h5>
                                       </div>
                                       <div class="card-body px-0 pb-0"><!-- test -->
                                          <div class="table-responsive">
                                             <table class="table align-middle" id="funding-list">
                                                <thead class="thead-light">
                                                   <tr>
                                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">펀딩명</th>
                                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">리워드 명</th>
                                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">리워드 금액</th>
                                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">수량</th>
                                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">합계</th>
                                                   </tr>
                                                </thead>
                                                <tr th:each="dto : ${list}">
                                                   <td class="text-sm">[[${dto.f_title}]]</td>
                                                   <td class="text-sm">[[${dto.f_reward}]]</td>
                                                   <td class="text-sm">[[${dto.f_price}]]</td>
                                                   <td class="text-sm">[[${dto.f_amount}]]</td>
                                                   <td class="text-sm">[[${dto.f_total}]]</td>
                                                </tr>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay=".9s">
                           <form class="row g-3">
                              <div class="col-md-6">
                                 <label for="inputName" class="form-label">받으시는 분</label> 
                                 <input type="text" class="form-control" id="inputName" name="d_name" th:value="${dto != null ? dto.d_name : '' }" >
                              </div>
                              <div class="col-md-6">
                                 <label for="inputPhoneNum4" class="form-label">연락처</label> 
                                 <input type="text" class="form-control" id="inputPhoneNum" name="d_phone" th:value="${dto != null ? dto.d_phone : '' }" >
                              </div>
                              <div class="col-md-4">
                                 <label for="inputAddress" class="form-label">우편번호</label> 
                                 <input type="text" class="form-control" id="inputAddress1" name="d_zipcode" th:value="${dto != null ? dto.d_zipcode : '' }" >
                              </div>
                              <div class="col-12">
                                 <label for="inputAddress" class="form-label">주소</label> 
                                 <input type="text" class="form-control" id="inputAddress2" name="d_addr" th:value="${dto != null ? dto.d_addr : '' }" placeholder="기본주소" >
                              </div>
                              <div class="col-12">
                                 <label for="inputAddress2" class="form-label">상세주소</label> 
                                 <input type="text" class="form-control" id="inputAddress3" name="d_detailaddr" th:value="${dto != null ? d_detailaddr : '' }" placeholder="상세주소">
                              </div>
                              <div class="col-12">
                                 <h5 class="mb-3">결제방법</h5>
                                 <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                       <img src="/img/payment_icon_yellow_small.png" alt="">
                                    </label>
                                 </div>
                              </div>
                              <div class="col-12" align="center">
                                 <a type="submit" class="btn btn-primary" th:href="@{/funding/fundingPurchaseResult}">결제하기 </a>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            </div>
         </section>
      </section>
   </th:block>
</html>