
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/include/layout :: setContent( ~{:: .container-fluid}  ) }">

    <div class="container-fluid py-4">
    <form name="userForm" action="userList" method="get">
      <div class="d-sm-flex justify-content-between">
			
			<div class="ms-md-auto pe-md-3">
				<div class="input-group input-group-outline">
					<input type="text" name="searchId" th:value="${pageVO.cri.searchName}" class="form-control" placeholder="회원 검색" >
				<a th:href="@{###}" class="btn btn-icon btn-outline-dark ms-2 export" onclick="handleForm()">검색</a>
				</div>	
			</div>

			<div>
				<ul>
					<li class="nav-item dropdown pe-2 d-flex align-items-center">
						<a href="javascript:;" class="nav-link text-body p-0"
						id="dropdownMenuButton" data-bs-toggle="dropdown"
						aria-expanded="false"> <i class="fa fa-bell cursor-pointer"></i>
					</a>
						<ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
							aria-labelledby="dropdownMenuButton">
							<li class="mb-2"><a class="dropdown-item border-radius-md"
								href="javascript:;">
									<div class="d-flex py-1">

										<div class="d-flex flex-column justify-content-center">
											<h6 class="text-sm font-weight-normal mb-1">
												<span class="font-weight-bold">f_num</span> 번 프로젝트를 개설
												신청하였습니다.
											</h6>
											<button type="button" class="close" aria-label="Close"></button>

										</div>
									</div>
							</a></li>
							<li class="mb-2"><a class="dropdown-item border-radius-md"
								href="javascript:;">
									<div class="d-flex py-1">

										<div class="d-flex flex-column justify-content-center">
											<h6 class="text-sm font-weight-normal mb-1">
												<span class="font-weight-bold">f_num</span> 번 프로젝트를 개설
												신청하였습니다.
											</h6>

										</div>
									</div>
							</a></li>
							<!--                 <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">New album</span> by Travis Scott
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          1 day
                        </p>
                      </div>
                    </div>
                  </a>
                </li> -->
							
						</ul>
					</li>
				</ul>
			</div>		
		</div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header pb-0">
				<div class="d-lg-flex">
					<div>
						<h5 class="mb-0">회원 관리</h5>
						<p class="text-sm mb-0">모든 회원 목록을 관리할 수 있습니다.</p>
					</div>
				</div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">회원 번호</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">아이디</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">이메일</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">탈퇴여부</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">탈퇴날짜</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="list: ${list}">
                 
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">[[${list.m_num}]]</span>
                      </td>
                    
                      <td>
                        
                            <h6 class="mb-0 text-sm" th:href="@{###}" >[[${list.m_id}]]</h6>
                         
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">[[${list.m_email}]]</p>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">[[${list.m_exit}]]</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">[[${list.m_exitdate}]]</span>
                      </td>
                       
                      
                    </tr>
                  </tbody>
                </table>
                <div class="dataTable-bottom">
                <th:block th:replace="~{/include/page :: userList('userList', ${pageVO}) }"></th:block>
                </div>
                <!-- <div class="dataTable-bottom">					
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>
					</nav>
				</div> -->
              </div>
            </div>
          </div>
        </div>
      </div>      
      </form>  
     </div>
</th:block>
<script type="text/javascript">
	//검색버튼
	function handleForm() {
		//폼을 서브밋
		event.preventDefault(); //a의 이동이벤트를 막는다.
		document.userForm.submit();
	}
	
	function submit() {
		document.userForm.submit();
	}
</script>
</html>