<!-- 찜목록 -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<th:block
	th:replace="~{./include/mainLayout :: setContent( ~{:: #wrap}  ) }">

	<body>
		<section id="wrap">
			<!-- top -->




			<div class="breadcrumbs">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6 col-12">
							<div class="breadcrumbs-content">
								<h1 class="page-title">찜목록</h1>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<ul class="breadcrumb-nav">
								<li><a href="/">홈</a></li>
								<li>찜목록</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


<section class="dashboard section">
				<div class="container">
					<div class="row">
						<!-- 						<th:block
							th:replace="~{./mypage/test :: setContent( ~{:: #wrap}  ) }"></th:block> -->

						<div class="col-lg-3 col-md-12 col-12">

							<div class="dashboard-sidebar">
								<div class="user-image">
									<!-- <img src="/images/dashboard/user-image.jpg" alt="#"> -->
									<h3>
										회원아이디 <span><a href="javascript:void(0)">이름?이메일?</a></span>
									</h3>
								</div>
								<div class="dashboard-menu">
									<ul>
										<li><a  href="purchaseList"><i
												class="lni lni-dashboard"></i> 펀딩 구매 내역</a></li>
										<li><a href="myProjectList"><i
												class="lni lni-pencil-alt"></i> 내가 만든 프로젝트</a></li>
										<li><a class="active" href="fundingLikeList"><i
												class="lni lni-heart"></i> 찜목록</a></li>
										<li><a href="messages.html"><i
												class="lni lni-envelope"></i> PW변경</a></li>
										<li><a href="delete-account.html"><i
												class="lni lni-trash"></i> 회원 탈퇴</a></li>

									</ul>
									<div class="button">
										<a class="btn" href="javascript:void(0)">Logout</a>
									</div>
								</div>
							</div>

						</div>

						<div class="col-lg-9 col-md-12 col-12">
							<div class="main-content">
								<div class="dashboard-block mt-0">
									<h3 class="block-title">찜목록</h3>
									<!-- <nav class="list-nav">
										<ul>
											<li class="active"><a href="javascript:void(0)">Featured
													<span>85</span>
											</a></li>
										</ul>
									</nav> -->

									<div class="my-items">

										<div class="item-list-title">
											<div class="row align-items-center">
												<div class="col-lg-5 col-md-5 col-12">
													<p>펀딩명</p>
												</div>
												<div class="col-lg-2 col-md-2 col-12">
													<p>상호명</p>
												</div>
												<div class="col-lg-2 col-md-2 col-12">
													<p>펀딩 마감일</p>
												</div>
												<div class="col-lg-3 col-md-3 col-12 align-right">
													<p>보기 / 삭제</p> 
												</div>
											</div>
										</div>


										<div class="single-item-list">
											<div class="row align-items-center">
												<div class="col-lg-5 col-md-5 col-12">
													<div class="item-image">
														<img src="/img/my-items/my-item1.png" alt="#">
														<div class="content">
															<h3 class="title">
																<a href="javascript:void(0)">[99% 항균탈취] 털,가죽 신발도 가능! 10만원대 UV살균 신발건조기</a>
															</h3>
															<span class="price">50.0%</span>
														</div>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-12">
													<p>(주)사람과함께</p>
												</div>
												<div class="col-lg-2 col-md-2 col-12">
													<p>2022-10-11</p>
												</div>
												<div class="col-lg-3 col-md-3 col-12 align-right">
													<ul class="action-btn">
														<!-- <li><a href="javascript:void(0)"><i
																class="lni lni-pencil"></i></a></li> -->
														<li><a href="javascript:void(0)"><i
																class="lni lni-eye"></i></a></li>
														<li><a href="javascript:void(0)"><i
																class="lni lni-trash"></i></a></li>
													</ul>
												</div>
											</div>
										</div>

										<div class="single-item-list">
											<div class="row align-items-center">
												<div class="col-lg-5 col-md-5 col-12">
													<div class="item-image">
														<img src="/img/my-items/my-item2.png" alt="#">
														<div class="content">
															<h3 class="title">
																<a href="javascript:void(0)">[99% 항균탈취] 털,가죽 신발도 가능! 10만원대 UV살균 신발건조기</a>
															</h3>
															<span class="price">50.0%</span>
														</div>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-12">
													<p>(주)사람과함께</p>
												</div>
												<div class="col-lg-2 col-md-2 col-12">
													<p>2022-10-11</p>
												</div>
												<div class="col-lg-3 col-md-3 col-12 align-right">
													<ul class="action-btn">
														<!-- <li><a href="javascript:void(0)"><i
																class="lni lni-pencil"></i></a></li> -->
														<li><a href="javascript:void(0)"><i
																class="lni lni-eye"></i></a></li>
														<li><a href="javascript:void(0)"><i
																class="lni lni-trash"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										
										
																				<div class="single-item-list">
											<div class="row align-items-center">
												<div class="col-lg-5 col-md-5 col-12">
													<div class="item-image">
														<img src="/img/my-items/my-item3.png" alt="#">
														<div class="content">
															<h3 class="title">
																<a href="javascript:void(0)">[99% 항균탈취] 털,가죽 신발도 가능! 10만원대 UV살균 신발건조기</a>
															</h3>
															<span class="price">50.0%</span>
														</div>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-12">
													<p>(주)사람과함께</p>
												</div>
												<div class="col-lg-2 col-md-2 col-12">
													<p>2022-10-11</p>
												</div>
												<div class="col-lg-3 col-md-3 col-12 align-right">
													<ul class="action-btn">
														<!-- <li><a href="javascript:void(0)"><i
																class="lni lni-pencil"></i></a></li> -->
														<li><a href="javascript:void(0)"><i
																class="lni lni-eye"></i></a></li>
														<li><a href="javascript:void(0)"><i
																class="lni lni-trash"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										
										
																				<div class="single-item-list">
											<div class="row align-items-center">
												<div class="col-lg-5 col-md-5 col-12">
													<div class="item-image">
														<img src="/img/my-items/my-item4.png" alt="#">
														<div class="content">
															<h3 class="title">
																<a href="javascript:void(0)">[99% 항균탈취] 털,가죽 신발도 가능! 10만원대 UV살균 신발건조기</a>
															</h3>
															<span class="price">50.0%</span>
														</div>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-12">
													<p>(주)사람과함께</p>
												</div>
												<div class="col-lg-2 col-md-2 col-12">
													<p>2022-10-11</p>
												</div>
												<div class="col-lg-3 col-md-3 col-12 align-right">
													<ul class="action-btn">
														<!-- <li><a href="javascript:void(0)"><i
																class="lni lni-pencil"></i></a></li> -->
														<li><a href="javascript:void(0)"><i
																class="lni lni-eye"></i></a></li>
														<li><a href="javascript:void(0)"><i
																class="lni lni-trash"></i></a></li>
													</ul>
												</div>
											</div>
										</div>


										<div class="pagination left">
											<ul class="pagination-list">
												<li><a href="javascript:void(0)">1</a></li>
												<li class="active"><a href="javascript:void(0)">2</a></li>
												<li><a href="javascript:void(0)">3</a></li>
												<li><a href="javascript:void(0)">4</a></li>
												<li><a href="javascript:void(0)"><i
														class="lni lni-chevron-right"></i></a></li>
											</ul>
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<div class="newsletter section">
				<div class="container">
					<div class="inner-content">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="title">
									<i class="lni lni-alarm"></i>
									<h2>Newsletter</h2>
									<p>We don't send spam so don't worry.</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form">
									<form action="#" method="get" target="_blank"
										class="newsletter-form">
										<input name="EMAIL" placeholder="Your email address"
											type="email">
										<div class="button">
											<button class="btn">
												Subscribe<span class="dir-part"></span>
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</th:block>
</html>