<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<th:block
	th:replace="~{./include/mainLayout :: setContent( ~{:: #wrap}  ) }">

	<section id="wrap">
	
	
	<div class="container-fluid py-4">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h5 class="mb-0">펀딩 내역</h5>
						<p class="text-sm mb-0">참여하신 펀딩 내역이 표시됩니다.</p>
					</div>
					<div class="table-responsive">
						<table class="table table-flush" id="datatable-search">
							<thead class="thead-light">
								<tr>
									<th>번호</th>
									<th>펀딩 참여일</th>
									<th>결제 상태</th>
									<th>펀딩명</th>
									<th>상호명</th>
									<th>펀딩 진행 여부</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-xs font-weight-normal ms-2 mb-0"><span
										class="my-2 text-xs">1</span></td>
									<td class="font-weight-normal"><span class="my-2 text-xs">2022-09-11</span></td>
									<td class="text-xs font-weight-normal">
										<div class="d-flex align-items-center">
											<button
												class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-2 btn-sm d-flex align-items-center justify-content-center">
												<i class="material-icons text-sm" aria-hidden="true">clear</i>
											</button>
											<span>결제취소</span>
										</div>
									</td>
									<td class="text-xs font-weight-normal">
										<div class="d-flex align-items-center">
											<span>[한달3000그릇]홍대역 줄서야 먹을수있는 맛집 시그니처 메뉴를 밀키트로</span>
										</div>
									</td>
									<td class="text-xs font-weight-normal"><span
										class="my-2 text-xs">주식회사 데이원컴퍼니</span></td>
									<td class="text-xs font-weight-normal"><span
										class="my-2 text-xs">펀딩 진행중</span></td>
								</tr>
								<tr>
									<td class="text-xs font-weight-normal ms-2 mb-0"><span
										class="my-2 text-xs">2</span></td>
									<td class="font-weight-normal"><span class="my-2 text-xs">2022-09-12</span></td>
									<td class="text-xs font-weight-normal">
										<div class="d-flex align-items-center">
											<button
												class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-2 btn-sm d-flex align-items-center justify-content-center">
												<i class="material-icons text-sm" aria-hidden="true">done</i>
											</button>
											<span>결제완료</span>
										</div>
									</td>
									<td class="text-xs font-weight-normal">
										<div class="d-flex align-items-center">
											<span>[누적1억,돌아온 캠지] 캠핑, 운전하는데 캠지필드가 없다고?</span>
										</div>
									</td>
									<td class="font-weight-normal"><span class="my-2 text-xs">씨피디그룹</span></td>
									<td class="font-weight-normal"><span class="my-2 text-xs">펀딩
											종료</span></td>
								</tr>
								<tr>
									<td class="text-xs font-weight-normal ms-2 mb-0"><span
										class="my-2 text-xs">3</span></td>
									<td class="font-weight-normal"><span class="my-2 text-xs">2022-09-13</span></td>
									<td class="text-xs font-weight-normal">
										<div class="d-flex align-items-center">
											<button
												class="btn btn-icon-only btn-rounded btn-outline-dark mb-0 me-2 btn-sm d-flex align-items-center justify-content-center">
												<i class="material-icons text-sm" aria-hidden="true">refresh</i>
											</button>
											<span>환불처리</span>
										</div>
									</td>
									<td class="text-xs font-weight-normal">
										<div class="d-flex align-items-center">
											<span>4.9점앵콜|세라마이드 폭탄 아직도 안써보셨어요? 보습끝판왕 세라밤!</span>
										</div>
									</td>
									<td class="text-xs font-weight-normal"><span
										class="my-2 text-xs">(주)스킨메드</span></td>
									<td class="text-xs font-weight-normal"><span
										class="my-2 text-xs">펀딩 실패</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="dataTable-bottom">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item"><a class="page-link" href="#"
									aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
								</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">4</a></li>
								<li class="page-item"><a class="page-link" href="#">5</a></li>
								<li class="page-item"><a class="page-link" href="#"
									aria-label="Next"> <span aria-hidden="true">&raquo;</span>
								</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</th:block>
</html>