<!-- 펀딩 구매 내역 -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<th:block th:replace="~{./include/mainLayout :: setContent( ~{:: #wrap}  ) }">
	<body>
		<section id="wrap">
			<section class="items-grid section custom-padding">
				<div class="wow fadeInUp" data-wow-delay=".6s">
					<div class="container">
						<div class="row">
	                  <div class="col-12">
	                     <div class="section-title">
	                        <h2 class="wow fadeInUp" data-wow-delay=".4s">마이페이지</h2>
	                        <p class="wow fadeInUp" data-wow-delay=".6s">펀딩 구매 내역 조회</p>
	                     </div>
	                  </div>
	               </div>
					</div>
				</div>
				<section class="dashboard section">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-12 col-12">
								<div class="dashboard-sidebar">
									<div class="user-image">
										<h3>
											[[${session.member.m_id}]]
										</h3>
									</div>
									<div class="dashboard-menu">
										<ul>
											<li><a class="active" href="purchaseList"><i class="lni lni-dashboard"></i> 펀딩 구매 내역</a></li>
											<li><a href="myProjectList"><i class="lni lni-pencil-alt"></i> 내가 만든 프로젝트</a></li>
											<li><a th:href="fundingLikeList"><i class="lni lni-heart"></i> 찜목록</a></li>
											<li><a href="changePw"><i class="lni lni-envelope"></i> PW변경</a></li>
											<li><a href="deleteMember"><i class="lni lni-trash"></i> 회원 탈퇴</a></li>
										</ul>
										<div class="button">
											<a class="btn" href="javascript:void(0)" th:href="@{/member/logout}">Logout</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-9 col-md-12 col-12">
								<div class="main-content">
									<div class="dashboard-block mt-0">
										<h3 class="block-title">펀딩 구매 내역</h3>
										<div class="invoice-items default-list-style">
											<div class="default-list-title">
												<div class="row align-items-center">
													<div class="col-lg-4 col-md-4 col-12">
														<p style="text-align:center">펀딩명</p>
													</div>
													<div class="col-lg-2 col-md-2 col-12">
														<p style="text-align:center">상호명</p>
													</div>
													<div class="col-lg-2 col-md-2 col-12">
														<p style="text-align:center">펀딩 진행 여부</p>
													</div>
													<div class="col-lg-2 col-md-2 col-12">
														<p style="text-align:center">펀딩참여일</p>
													</div>
													<div class="col-lg-2 col-md-2 col-12">
														<p style="text-align:center">결제 상태</p>
													</div>
												</div>
											</div>
											<div class="single-list">
												<th:block th:each="dto : ${list}">
													<div class="row align-items-center">
														<div class="col-lg-4 col-md-4 col-12">
															<p><a th:href="@{/mypage/purchaseDetail(m_num=${session.member.m_num})}">[[${dto.f_title}]] </a></p>
														</div>
														<div class="col-lg-2 col-md-2 col-12">
															<p style="text-align:center">[[${dto.f_bname}]]</p>
														</div>
														<div class="col-lg-2 col-md-2 col-12" align="center">
															<span th:if="${dto.f_status} == 3" class="text-sm"><span class="badge text-bg-warning">진행중</span></span>
															<span th:if="${dto.f_status} == 4" class="text-sm"><span class="badge text-bg-success bg-gradient">성공</span></span>
															<span th:if="${dto.f_status} == 5" class="text-sm"><span class="badge text-bg-danger">실패</span></span>		
														</div>
														<div class="col-lg-2 col-md-2 col-12" align="center">
															<div >[[${dto.p_date}]]</div>
														</div>
														<div class="col-lg-2 col-md-2 col-12" align="center">
															<span th:if="${dto.p_payment} == 1" class="text-sm"><span class="badge text-bg-success bg-gradient">결제완료</span></span>
															<span th:if="${dto.p_payment} == 2" class="text-sm"><span class="badge text-bg-danger">결제취소</span></span>		
														</div>
													</div>
												</th:block>
											</div>
											<th:block th:replace="~{/include/page :: purchaseList('purchaseList', ${pageVO}) }"></th:block>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</section>
		</section>
	</body>
</th:block>
</html>