<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="site.moregreen.basic.funding.FundingMapper">

  <select id="selectFundigList" parameterType="site.moregreen.basic.util.Criteria" resultType="FundingDto">

	select *
	from funding
	where f_status in (3,4,5)
	order by f_num desc;

  </select>

  <insert id="createFunding" parameterType="site.moregreen.basic.command.FundingDto">
  		<selectKey resultType="int" keyProperty="f_num" order="AFTER">
 			select max(f_num) as f_num 
			from funding
 		</selectKey>
  	insert into funding(
  						f_title,
  						f_content,
  						f_days,
  						f_enddate,
  						f_reward,
  						f_price,
  						f_bname,
  						f_bnum,
  						member_m_num
  						)
  				values(
  					   #{f_title},
  					   #{f_content},
  					   #{f_days},
  					   (SELECT DATE_ADD(NOW(), INTERVAL #{f_days} DAY)),
  					   #{f_reward},
  					   #{f_price},
  					   #{f_bname},
  					   #{f_bnum},
  					   #{member_m_num}
  					   )
  </insert>
  
  <insert id="createFundingFile" parameterType="site.moregreen.basic.command.UploadDto">
 		insert into image(
 						 i_name,
					     i_path,
					     i_uuid,
					     funding_f_num					     
					     )
		 		 values(
		 				#{filename},
		 			   	#{filepath},
		 			  	#{uuid},
		 			  	#{f_num}
		 			   )				
 	</insert>

	<select id="selectFundingApplyList" parameterType="site.moregreen.basic.util.Criteria" resultType="FundingDto">

		select *
		from funding
		where f_status in (1,2)
		order by f_num desc
		limit #{pageStart}, #{amount}

	</select>

	<select id="selectTotal" parameterType="site.moregreen.basic.util.Criteria" resultType="int">

		select count(*) as total
		from funding
		<if test="searchName != '' and searchName != null">
			and prod_name like concat('%', #{searchName} ,'%')
		</if>
		<if test="searchContent != '' and searchContent != null">
			and prod_content like concat('%', #{searchContent}, '%')
		</if>
		<if test="startDate != '' and startDate != null">
			<![CDATA[and date_format(prod_enddate, '%Y-%m-%d')  >= date_format(#{startDate}, '%Y-%m-%d')]]>
		</if>
		<if test="endDate != '' and endDate != null">
			<![CDATA[and date_format(prod_enddate, '%Y-%m-%d')  < date_format(#{endDate}, '%Y-%m-%d')]]>
		</if>
	</select>

	<select id="selectFundingDetail" parameterType="int" resultType="FundingDto">

		select *
		from funding
		where f_num = #{f_num}

	</select>
	
	<select id="selectFundingDetailImg" parameterType="int" resultType="UploadDto">

		select i_name as filename, i_path as filepath, i_uuid as uuid
		from image
		where funding_f_num = #{f_num}

	</select>
  
	<update id="fundingAccept" parameterType="int">
		update funding
		set f_status = 3
		where f_num = #{f_num}
	</update>
	
	<update id="fundingReject" parameterType="int">
		update funding
		set f_status = 2
		where f_num = #{f_num}
	</update>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </mapper>