<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="site.moregreen.basic.like.LikeMapper">
  
 <!--  <resultMap id="selectLikeListMap" type="LikeDto">
	  <result property="l_num" column="l_num"/>
	   <result property="m_num" column="member_m_num"/>
	  <result property="f_num" column="funding_f_num"/>
</resultMap> -->
   
  <insert id="createFundingLike" parameterType="LikeDto">
		insert into likeFunding (
							funding_f_num, 
							member_m_num
							)
					values(
							 #{f_num},
							 #{m_num}
							 )
	</insert>
	
	  <delete id="deleteFundingLike" parameterType="LikeDto">
	  
	  	delete from likeFunding
	  	where member_m_num= #{m_num} and funding_f_num = #{f_num}
	  	
	  </delete>

	<!--  중복방지  -->
	<select id="retrieveFundingLike" parameterType="LikeDto" resultType="int">
		select count(*) as l_check
		from likeFunding 
		where member_m_num= #{m_num} and funding_f_num = #{f_num}
	</select>
  
  </mapper>