<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="site.moregreen.basic.member.MemberMapper">
  <!-- 회원가입 -->
  <insert id="insertMember" parameterType="site.moregreen.basic.command.MemberDto">
  	INSERT INTO member(m_id, m_pw, m_email)
  	VALUES(#{m_id}, #{m_pw}, #{m_email});
  </insert>
  
  <!-- 아이디 중복확인 -->
  <select id="overlappedID" parameterType="site.moregreen.basic.command.MemberDto" resultType="int">
  	SELECT COUNT(m_id) FROM member 
  	WHERE m_id= #{m_id};
  </select>
  
  <!-- 로그인 -->  
  <select id="login" parameterType="site.moregreen.basic.command.MemberDto" resultType="site.moregreen.basic.command.MemberDto">
        SELECT m_id, m_pw, m_num FROM member
        WHERE m_id = #{m_id} AND m_pw = #{m_pw} AND m_exit='N'
    </select>
    
    <!-- 이메일 확인 -->  
  <select id="checkemail" parameterType="site.moregreen.basic.command.MemberDto" resultType="int">
        SELECT COUNT(m_email) FROM member
        WHERE m_email = #{m_email};
    </select>
    
    <!-- 아이디 찾기 -->  
  <select id="findid" parameterType="site.moregreen.basic.command.MemberDto" resultType="site.moregreen.basic.command.MemberDto">
        SELECT m_id FROM member
        WHERE m_email = #{m_email};
    </select>
    
    <!-- 관리자 회원목록 -->
    <select id="selectMemberList" parameterType="site.moregreen.basic.util.Criteria" resultType="site.moregreen.basic.command.MemberDto">
    select * 
    from member
    
     <if test="searchId != '' and searchId != null"> 
      where m_id like concat('%', #{searchId} ,'%')
     </if>
    ORDER BY m_num ASC
    LIMIT #{pageStart}, #{amount}
    </select>
    
    <select id="selectTotal" parameterType="site.moregreen.basic.util.Criteria" resultType="int">
		select count(*) as total
		from member
	</select>
	
	<select id="findPw" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member
		WHERE m_id=#{m_id} AND m_email=#{m_email};
	</select>
  </mapper>