<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="site.moregreen.basic.member.MemberMapper">
  <!-- 회원가입 -->
  <insert id="insertMember" parameterType="site.moregreen.basic.command.MemberDto">
  	INSERT INTO member(m_id, m_pw, m_email)
  	VALUES(#{m_id}, #{m_pw}, #{m_email});
  </insert>
  
  <!-- 아이디 중복확인 -->
  <select id="overlappedID" parameterType="site.moregreen.basic.command.MemberDto" resultType="int">
  	SELECT COUNT(m_id) FROM member 
  	WHERE m_id= #{m_id};
  </select>
  
  <!-- 로그인 -->  
  <select id="login" parameterType="site.moregreen.basic.command.MemberDto" resultType="site.moregreen.basic.command.MemberDto">
        SELECT m_id, m_pw, m_num FROM member
        WHERE m_id = #{m_id} AND m_pw = #{m_pw}
    </select>
    
  </mapper>