<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="site.moregreen.basic.purchase.PurchaseMapper">
   
   <insert id="createDelivery" parameterType="DeliveryDto">
  	    <selectKey resultType="int" keyProperty="d_num" order="AFTER">
 			select max(d_num) as d_num
			from delivery
 		</selectKey>
	 	insert into delivery(
	 						d_name,
	 						d_phone,
	 						d_zipcode,
	 						d_addr,
	 						d_detailaddr
	 						)
	 				values(
	 					   #{d_name},
	 					   #{d_phone},
	 					   #{d_zipcode},
	 					   #{d_addr},
	 					   #{d_detailaddr}
	 					   )
	 </insert>
   
	<insert id="createPurchase" parameterType="PurchaseDto">
	 	insert into purchase(
	 						p_payment,
	 						p_amount,
	 						p_total,
	 						p_method,
	 						p_tid,
	 						p_date,
	 						delivery_d_num,
	 						funding_f_num,
	 						member_m_num
	 						)
	 				values(
	 					   1,
	 					   #{p_amount},
	 					   #{p_total},
	 					   1,
	 					   #{p_tid},
	 					   #{p_date},
	 					   #{d_num},
	 					   #{f_num},
	 					   #{m_num}
	 					   )
	 </insert>
	 
	<update id="updateFunding" parameterType="FundingDto">
	
		update funding
		set f_rate = #{f_rate},
			f_totalmoney = #{f_totalmoney}
		where f_num = #{f_num}

	</update>
	
	<update id="updatePurchase" parameterType="int">

		update purchase
		set p_payment = 2
		where p_num = #{p_num}

	</update>
	
	<select id="selectPurchaseList" resultType="PurchaseDto" parameterType="site.moregreen.basic.util.Criteria">
	
		select p.p_num,
			   p.p_total,
			   p.p_payment,
			   p.p_date,
			   p.p_method,
			   f.f_num,
			   f.f_title,
			   f.f_rate,
			   f.f_status,
			   m.m_id,
			   d.d_name,
			   d.d_phone,
			   d.d_zipcode,
			   d.d_addr,
			   d.d_detailaddr
		from purchase p
		inner join funding f
		on p.funding_f_num = f.f_num
		inner join member m 
		on p.member_m_num = m.m_num
		inner join delivery d
		on p.delivery_d_num = d.d_num
		where 1
		<if test="searchStatus != '' and searchStatus != null"> 
	    and p.p_payment = #{searchStatus} 
	    </if>
	    <if test="searchName != '' and searchName != null"> 
	    and f.f_title like concat('%', #{searchName} ,'%')
	    </if>
		order by p.p_num desc
		limit #{pageStart}, #{amount}
		
	</select>
	
	<select id="selectPurchaseListForCancel" resultType="PurchaseDto">
		
		select p.p_num,
			   p.p_total,
			   p.p_payment,
			   p.p_date,
			   p.p_method,
			   p.p_tid,
			   f.f_title,
			   f.f_rate,
			   f.f_status,
			   m.m_id
		from purchase p
		inner join funding f
		on p.funding_f_num = f.f_num
		inner join member m 
		on p.member_m_num = m.m_num
		where p.funding_f_num in 
		<foreach collection="fundingList" item="list" open="(" close=")" separator=",">
		#{list.f_num}
		</foreach>
		and p.p_payment = 1
		
	</select>
	
	<select id="selectPurchaseTotal" parameterType="site.moregreen.basic.util.Criteria" resultType="int">
	
		select count(*) as total
		from purchase p
		inner join funding f
		on p.funding_f_num = f.f_num
		where 1
		<if test="searchStatus != '' and searchStatus != null"> 
	    and p.p_payment = #{searchStatus} 
	    </if>
	    <if test="searchName != '' and searchName != null"> 
	    and f.f_title like concat('%', #{searchName} ,'%')
	    </if>
	    
		
	</select>
	
	<update id="updatePurchasePayment" parameterType="PurchaseDto">
	
		update purchase
		set p_payment = 2
		where funding_f_num in (select f_num
							   	from funding
							   	where f_status = 5)
		and p_num = #{p_num}
	
	</update>

</mapper>