<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="site.moregreen.basic.purchase.PurchaseMapper">
   
   <resultMap id="createPurchaseMap" type="PurchaseDto">
	  <result property="f_num" column="f_num"/>
	  <result property="f_title" column="f_title"/>
	  <result property="f_content" column="f_content"/>
	  <result property="f_days" column="f_days"/>
	  <result property="f_enddate" column="f_enddate"/>
	  <result property="f_target" column="f_target"/>
	  <result property="f_totalmoney" column="f_totalmoney"/>
	  <result property="f_rate" column="f_rate"/>
	  <result property="f_status" column="f_status"/>
	  <result property="f_reward" column="f_reward"/>
	  <result property="f_price" column="f_price"/>
	  <result property="f_bname" column="f_bname"/>
	  <result property="f_bnum" column="f_bnum"/>
	  <result property="m_num" column="member_m_num"/>
	  <result property="m_id" column="m_id"/>
	  <result property="f_regdate" column="f_regdate"/>
	  <result property="l_count" column="l_count"/>
	</resultMap>
   
</mapper>